<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294874275455-76p5sabf709v320981h0ap1f3aus6hqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294874275455-76p5sabf709v320981h0ap1f3aus6hqr</string>
	<key>API_KEY</key>
	<string>AIzaSyDnpw3-sctkzBdZq2CIb5Mp_u61gz-D3yg</string>
	<key>GCM_SENDER_ID</key>
	<string>294874275455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sellersApp</string>
	<key>PROJECT_ID</key>
	<string>foodpanda-clone-app-d2e08</string>
	<key>STORAGE_BUCKET</key>
	<string>foodpanda-clone-app-d2e08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294874275455:ios:64962ef272e25c8816294a</string>
</dict>
</plist>